*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    height: 200px;
    width: 100%;
    margin: auto;
    background: transparent;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #c2df43;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: none;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 22px;
    float: left;
    margin-top: 27px;
    font-size: 14px;
}

ul a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: yellow;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px cyan;
    margin-top:13px;   
    color: whitesmoke;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: mediumaquamarine;
    border: 2px solid;
    margin-top: 13px;
    color: rgb(8, 7, 7);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 15px;    
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}